# pisanie kodu do groupedStack plota

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import seaborn as sns

In [24]:
df = pd.read_csv("./mock_data/mock_data.csv")

In [25]:
df

    sample_id  molecule1  molecule2     bg sg
0           1        125         63   lean  f
1           2         75         38   lean  f
2           3        105         53   lean  f
3           4        114         57   lean  f
4           5         45         23  obese  m
5           6         59         30  obese  m
6           7         58         29  obese  m
7           8         65         33  obese  m
8           9        118         59  obese  f
9          10        151         76  obese  f
10         11        120         60  obese  f
11         12        144         72  obese  f
12         13         88         44   lean  m
13         14         57         29   lean  m
14         15         76         38   lean  m
15         16         66         33   lean  m

In [64]:
def dfToRowFract(df: pd.DataFrame,
                 cols_bg_sg: [str] = ["bg", "sg"],
                 cols_vals: [str] = ["molecule1", "molecule2"],
                 percentage: bool = True):

    """
    calculates means of big and small groups
    transforms all the numbers (means) in a tab_means to
    fractions of rowSums (or percentages)

    Input:
    ---
    df - table to be transformed
    cols_bg_sg - name of columns with 'big' and 'small' groups
    cols_vals - name of columns with digits
    percentage - should y axis represent absolute values or pct (upto 100%)

    Output:
    ---
    new transformed table, each result is val1/colSum1 (optionally: *100)
    """

    df_means = df[cols_bg_sg + cols_vals].groupby(cols_bg_sg).mean().reset_index()

    rowSums: pd.Series = df_means.loc[:, cols_vals].sum(axis=1)
    fractions: pd.DataFrame = df_means.loc[:, cols_vals].divide(rowSums, axis=0)
    if percentage:
        fractions = fractions * 100

    result = pd.concat([df_means.loc[:, cols_bg_sg], fractions], axis=1)
    return result